@import url('https://fonts.googleapis.com/css?family=Open+Sans'); 
@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display'); 
@import url('https://fonts.googleapis.com/css?family=Nixie+One');



/* Global CSS styles */ 
canvas{
    position: absolute;
    width: 100%; height: 100%;
    top: 0; right: 0; bottom: 0; left: 0;
}


h1, h3{
    font-family: 'Nixie One', sans-serif; 
    text-align: center; 
    color: black; 
}

h3{
    color: #CACFD2; 
}


hr{
    width: 70%; 
    border: 0;
    border-top: 1px solid #ccc;
}

/* ---- INTRO CSS ------ */ 
#intro{
    margin-top: 5%; 
}


/* Container for terminal */ 
#container{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-top: 50px;
    background: #fff; 
}


/* Terminal content */ 
#terminal{
    height: 30rem;
    width: 45rem;
    background: #111;
    border: 1px solid #252525;
    border-radius: 0.5rem;
    box-shadow: 0 0 4rem rgba(0,0,0,0.4);
}
  

/* Space bar */ 
#window-bar{
    width: 100%; 
    height: 2rem; 
    border-bottom: 1px solid #252525;
    flex-direction: row; 
    display: flex; 
    justify-content: space-between; 
}


#window-buttons{
    padding-top: 0.5rem; 
    padding-left: 0.5rem; 
}


/* Window close, maximize and minimize */ 
.btn{
  height: 0.8rem;
  width: 0.8rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}


.close {
    background-color: #ff3b30;
}

.minimize{
    background-color: #ffcc00;
}

.maximize{
    background-color: #28cd41
}

.title{
    color: white; 
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85rem;
    color: #ddd;
    margin-right: 20rem; 
    padding-top: 0.4rem; 
}


